/* .grid {
  display: grid;
  width: 500px;
}

.grid-using-min-content {
  grid-template-columns: min-content 1fr 4fr;
}

.should-break{
  word-break: break-all;
} */

/* .fit-content-grid {
  display: grid;
  width: 200px;
  grid-template-columns: fit-content(50px) auto auto auto;
} */
/* .grid {
  display: grid;
  width: 500px;
  grid-template-columns: auto 1fr 3fr;
} */

/* .container {
  width: 500px;
  display: grid;
  grid-template-columns: minmax(50px, min-content) 1fr 3fr;
  gap: 25px;
} */

/* .container {
  width: 500px;
  display: grid;
  grid-template-columns: minmax(50px, min-content) 1fr 3fr;
  gap: 25px;
} */

.gallery-container {
  width: 800px;
  height: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}