.grid {
  display: grid;
  width: 500px;
}

.grid-using-min-content {
  grid-template-columns: min-content 1fr 4fr;
}

.should-break{
  word-break: break-all;
}

.fit-content-grid {
  display: grid;
  width: 200px;
  grid-template-columns: fit-content(50px) 1fr 1fr 1fr;
}
